h5, h4, h3, p, span{
  color: white;
}

h2, h3, h4, h5, h6, span{
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, input, button{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.weather_body{
  background-image: url('assets/img/wetherbg.avif');
  position: fixed;
  width: 100%;
  height: 100vh;
top: 0px;
left: 0px;
background-repeat: no-repeat;
background-size: cover;
}

.weather-app{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
backdrop-filter: blur(4px);
padding: 20px;
border-radius: 20px;
box-shadow: -6px 14px 17px 16px #0000004f;
border: 1px solid #a554ba;
}

input.searchinput{
  outline: none;
  width: 100%;
  border: 1px solid #a554ba;
  line-height: 2.5;
  padding: 0px 20px;
  border-radius: 50px;
  color: white;
  background-color: transparent;
backdrop-filter: blur(30px);
}
input.searchinput::placeholder{
color: rgba(255, 255, 255, 0.61);
letter-spacing: 1px;
}

.weather_icon{
  height: 150px;
width: 190px;
}

.weather_morning{
  background: url('assets/img/weather/morning.avif') no-repeat center/contain;
}

.weather_afternoon{
  background: url('assets/img/weather/afternoon.avif') no-repeat center/contain;
}

.weather_evening{
  background: url('assets/img/weather/evening.avif') no-repeat center/contain;
}

.weather_night{
  background: url('assets/img/weather/night.avif') no-repeat center/contain;
}

.climate h3{
  font-size: 40px;
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.climate p{
text-transform: capitalize;
}

.stats .icon{
  height: 50px;
  width: 50px;
}

.stats .icons{
  font-size: 30px;
  color: white;
}

.temp_min{
  background: url('assets/img/modes/temp-min.avif') no-repeat center/cover;
}

.temp_max{
  background: url('assets/img/modes/temp-max.avif') no-repeat center/cover;
}

.humidity{
  background: url('assets/img/modes/humidity.png') no-repeat center/cover;
}

.wind{
  background: url('assets/img/modes/wind.avif') no-repeat center/cover;
}

.stats p{
font-size: 12px;
margin: 0px;
}

.border-bottom{
border-bottom: 1px solid gray;
}

.loc{
border: 1px solid white;
border-radius: 50px;
width: max-content;
padding: 5px 8px;
}

.loc .icon{
  color: white;
  font-size: 15px;
}

.loc h5{
  margin: 0px;
  font-size: 13px;

  letter-spacing: 1px;
  color: white;
}

.model-body{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px);
transform: scale(1);
transition: all 0.5s ease-in-out;
opacity: 1;
}

.close{
 transform: scale(0); 
 opacity: 0;
}
.model-center{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

input.prompt-field{
background-color: transparent;
border: none;
border-bottom: 2px solid white;
padding: 0px 20px;
outline: none;
color: white;
}

.prompt-field::placeholder{
  color: white;
}

.btn-name{
  margin-top: 10px;
  border: none;
  background-color: none;
  color: black;
  border-radius: 0px;
  width: 100%;
  line-height: 2.5;
  letter-spacing: 2px;
font-weight: 500;
}

.search{
  background-color: transparent;
  border: none;
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  right: -5px;
  padding-left: 30px;
}

.search .icon{
  font-size: 40px;
  color: white;
}