@media only screen and (max-width:600px){
.weather-app{
width: 90%;
}
}

@media only screen and (min-width:768px){
.weather-app{
width: 40%;   
} 
}


@media only screen and (min-width:998px){
.weather-app{
width: 28%; 
}
}